html, body {
    height: 100vh;
    width: auto;
}

.primary-color {
    color:#022a52;
}

.primary-color-bg {
    background-color:#022a52;
}

.secondary-color {
    color:#FED201;
}

.secondary-color-bg {
    background-color: #FED201;
}

.secondary-color-bg-8 {
    background-color: #FED201;
    opacity: 0.6;
}

.main-color {
    color:#6ec1e5;
}

.main-color-bg {
    background-color: #6ec1e5;
}


